<div class="container">
  <h1>Dynamically Add New Input Fields in Angular</h1>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="row mb-4">
      <div class="col-4">
        <label for="name">Product Name:</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
        />
      </div>
    </div>

    <div class="row" formArrayName="quantities">
      <div class="col-12">
        <h4>Add Multiple Quantity:</h4>
        <a href="javascript:void(0);" (click)="addQuantity()"> Add More </a>
      </div>
      <div
        class="row mb-4"
        *ngFor="let quantity of quantities().controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-4">
          Quantity :
          <ng-select
            [items]="numbers"
            formControlName="numbers"
            bindLabel="name"
            (change)="onChange($event)"
            bindValue="id"
          ></ng-select>
        </div>
        <div class="col-4">
          Price:
          {{ i }} {{ quantity.value | json }}
          <input type="text" formControlName="price" class="form-control" />
        </div>
        <div class="col-4" *ngIf="quantity.value.numbers == '2'">
          Cusip: {{ i }} {{ quantity.value | json }}
          <input type="text" formControlName="cusip" class="form-control" />
        </div>
        <div class="col-4 mt-4">
          <button (click)="removeQuantity(i)" class="btn btn-danger">
            Remove
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>

  <br />
</div>

<hr />

<div class="container">
  <div class="row">
    <div class="col-4">
      <p class="card-text">
        Most common case is showing data from backend API and with ng-select
        this is extremely simple since you can bind directly to observable when
        using angular
        <b> | async</b> pipe
      </p>

      <ng-select
        [items]="people$ | async"
        bindLabel="name"
        autofocus
        bindValue="id"
        [(ngModel)]="selectedPersonId"
      >
      </ng-select>

      <br />Selected: {{ selectedPersonId }}
    </div>
  </div>
</div>
